<h1>Listing portafolios</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Creado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portafolios.each do |portafolio| %>
      <tr>
        <td><%= portafolio.titulo %></td>
        <td><%= portafolio.descripcion %></td>
        <td><%= portafolio.created_at %></td>
        <td><%= link_to 'Show', user_portafolios_path(portafolio.user, portafolio.slug) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_user === @portafolios %>
  <%= link_to 'New Portafolio', new_user_portafolio_path %>
<% end %>
