<div class="row">
<p id="notice"><%= notice %></p>
  <div class="large-3 columns">
	<p>
	  <strong>Titulo:</strong>
	  <%= @portafolio.titulo %>
	</p>

	<p>
	  <strong>Descripcion:</strong>
	  <%= @portafolio.descripcion %>
	</p>
  	
  </div>
  <div class="large-9 columns">
  	<ul id="sortable">
	  <% @imagenes.each do |p| %>
	    <li id="imagen_<%= p.id %>">
	     <%= image_tag p.imagen_url %>
	      <% if current_user.id === @portafolio.user_id %>
	        <%= link_to "Eliminar", user_portafolio_adjunto_path(current_user.slug, params[:id],p), {method: :delete} %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
  </div>
	<% if current_user.id === @portafolio.user_id %>
		<%= link_to 'Show', user_portafolio_path(@portafolio.user, @portafolio.slug) %>
		<%= link_to 'Edit', edit_user_portafolio_path(@portafolio.user, @portafolio.slug) %>
	<% end %>

<!-- desplegar comentarios -->
<div class="columns">
<h1>haz un comentarios</h1>
<% if user_signed_in? %>
   <%= simple_form_for ([@user, @portafolios, current_user.comentarios.new ]) do |f|%>
    <%= f.input :comentario, as: :text  %> 
    <%= f.submit 'Comentar', :class => 'button right' %>
   <% end %>
<% else %>
<p>Tienes que Registrarte</p>
<% end %>
</div>

<div class="columns">
	<% @comentarios.each do |c| %>
	 <p>
	   <%= c.user.name %>
	   <%= c.comentario %>
	 </p> 
	<% end %>
</div>



</div>