<%= form_for(user) do |f| %>
	<td width="50">
	<% if user.avatar? %>
		<%= image_tag(user.avatar_url) %>
	<% else %>
		<%= f.file_field :avatar %>
	<% end %>
	</td>
	<td><%= link_to user.name, user %></td>	
	<td><%= user.email %></td>	
    <td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>	
    <td><%= f.check_box(:pago) %></td>	
    <td><%= f.date_field(:fechapago) %></td>	
    <td><%= f.submit 'Actualizar', :class => 'button-xs' %></td>	
<% end %>
<td><%= link_to("Eliminar Usuario", user_path(user), :data => { :confirm => "Administrador estas seguro?" }, :method => :delete, :class => 'button-xs') unless user == current_user %></td>	

