<div class="container">
  <div class="row">
  <h3>Buscar Usuarios</h3>
<div class="margintop-20px">
<%= search_form_for @search do |f| %>
<div class="small-8 medium-8 columns">
    <%= f.search_field :name_cont %>
  	<%= f.check_box :pago_true %>
</div>
  <div class="small-4 medium-4 columns">
  	<%= f.submit "Buscar",  :class =>'postfix small button expand' %>
  </div>
<% end %>

  
</div>
  	
    <h3>Usuarios</h3>
    <div>
<table>
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>E-Mail de Usuario</th>
      <th>Avatar</th>
      <th>Estan al día con los pagos?</th>
      <th>Fecha de pago</th>
      <th>Fecha de pago</th>
    </tr>
  </thead>
  <tbody>

	 <% @users.each do |user| %>
		<tr>
			<%= render user %>
		</tr>            
	<% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
