<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar Cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Editar Perfil', perfil_path(current_user) %></li>
  <li><%= link_to 'Mi Portafolio', user_path(current_user) %></li>
<% else %>
  <li><%= link_to 'Entrar', new_user_session_path %></li>
  <li><%= link_to 'Registrase', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Usuarios', users_path %></li>
  <% end %>
  <% if current_user.admin? %>
    <li><%= link_to 'Crear Blog', new_blog_path %></li>
  <% end %>
  <% if current_user.pago? %>
    <li><%= link_to 'Crear un Portafolio', new_user_portafolio_path(current_user.slug) %></li>
  <% end %>
<% end %>
